In [91]:
#import statements
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder,LabelEncoder
import pickle

In [92]:
#READ THE DATA
data=pd.read_csv("CM.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [93]:
#drop the unnecessary coloumns 
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1) #but defaut it considers axis=0 which means drop by rows
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [94]:
#convert into 0 and 1
le=LabelEncoder()
data['Gender']=le.fit_transform(data['Gender'])#if you want to perform any thing with colounms please use data['col_name']
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [95]:
# data['Geography'].shape
# Attribute = data, Method = behavior, Function = general-purpose code(please undersatnd this)
# data[['Geography']].shape
ohe=OneHotEncoder()

#converting it to binary form and adding it to veriable
geoencoder=ohe.fit_transform(data[['Geography']]) #---> should be with double [[]] quotes


#making it into 3 columns by getting the feature out
#coloumns=ohe.get_feature_names_out(['Geography'])

#converting it into array as it is sparse
# geoencoder.toarray()

#need to convert it into dataframe 
geoencoder=pd.DataFrame(geoencoder.toarray(),columns=ohe.get_feature_names_out(['Geography']))

#first drop the geography veriable the join the data with geoencoder
data=data.drop(['Geography'],axis=1)
data=pd.concat([geoencoder,data],axis=1)

In [96]:
data

,Geography_France,Geography_Germany,Geography_Spain,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1.0,0.0,0.0,619,0,42,2,0.00,1,1,1,101348.88,1
1,0.0,0.0,1.0,608,0,41,1,83807.86,1,0,1,112542.58,0
2,1.0,0.0,0.0,502,0,42,8,159660.80,3,1,0,113931.57,1
3,1.0,0.0,0.0,699,0,39,1,0.00,2,0,0,93826.63,0
4,0.0,0.0,1.0,850,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1.0,0.0,0.0,771,1,39,5,0.00,2,1,0,96270.64,0
9996,1.0,0.0,0.0,516,1,35,10,57369.61,1,1,1,101699.77,0
9997,1.0,0.0,0.0,709,0,36,7,0.00,1,0,1,42085.58,1
9998,0.0,1.0,0.0,772,1,42,3,75075.31,2,1,0,92888.52,1
9999,1.0,0.0,0.0,792,0,28,4,130142.79,1,1,0,38190.78,0

In [97]:
# convert labelencoder and onhotencoder as pkl file 
with open('label_encoder.pkl','wb') as file:
    pickle.dump(le,file)
with open('one_hot_encoder.pkl','wb') as file:
    pickle.dump(ohe,file)

In [98]:
# dividing the data for train test split
x=data.drop('Exited',axis=1)
y=data['Exited']

x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42,test_size=0.2)

scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

ANN IMPLEMENTATION

In [99]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [100]:
x_train.shape[1] #this gives you no of columns in x train

12

In [101]:
#how to build a model

# Sequential(...) → round brackets () mean:→ “Call the Sequential constructor with these arguments”
# Inside it, [ ... ] → square brackets [] mean:→ “This is a Python list of layers”

# ___Keras expects input_shape as a tuple, like (num_features,), so for one-dimensional input you must write the comma.___
model=Sequential([
    Dense(64,activation='relu',input_shape=(x_train.shape[1],)), 
    Dense(32,activation='relu'),
    Dense(1,activation='sigmoid')
])
#check the model summery for the features
model.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 64)                832

 dense_16 (Dense)            (None, 32)                2080

 dense_17 (Dense)            (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [102]:
opt=tf.keras.optimizers.Adam(learning_rate=0.01)
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=['accuracy'])

In [103]:
# THIS WILL TELL HOW OUR LOGS ARE GOING TO BE
logs_dir="logs/fit"+datetime.datetime.now().strftime("%y%m%d-%H%M%S")

#THIS WILL VISUALIZE THE LOGS HIVEN TO US USING HISTOGRAM
tensor_callback=TensorBoard(log_dir=logs_dir,histogram_freq=1,write_graph=False)

#THIS WE WILL USE TO STOP THE EPOCH IF NO BIG IMPOROVEMENT IS GOING ON AND ALS IT WILL MAKE RESTORE THE BEST WEIGHTS
tensor_earlystopping=EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True)

In [104]:
history=model.fit(x_train,y_train,validation_data=(x_test,y_test),epochs=100,
                  callbacks=[tensor_callback,tensor_earlystopping])

Epoch 1/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4025 - accuracy: 0.8285 - val_loss: 0.3603 - val_accuracy: 0.8535
Epoch 2/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3588 - accuracy: 0.8511 - val_loss: 0.3459 - val_accuracy: 0.8525
Epoch 3/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3464 - accuracy: 0.8571 - val_loss: 0.3425 - val_accuracy: 0.8570
Epoch 4/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3440 - accuracy: 0.8577 - val_loss: 0.3472 - val_accuracy: 0.8610
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3428 - accuracy: 0.8591 - val_loss: 0.3396 - val_accuracy: 0.8615
Epoch 6/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3375 - accuracy: 0.8614 - val_loss: 0.3398 - val_accuracy: 0.8585
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3368 - accuracy: 0.8624 - val_loss: 0.3466 - val_accuracy: 0.8615
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3365 - accuracy: 0.8590 - val_loss: 0.3347 - val_accuracy: 0.8630
Epoch 9/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3344 - accuracy: 0.8633 - val_loss: 0.3461 - val_accuracy: 0.8585
Epoch 10/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3344 - accuracy: 0.8624 - val_loss: 0.3452 - val_accuracy: 0.8575
Epoch 11/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3309 - accuracy: 0.8652 - val_loss: 0.3426 - val_accuracy: 0.8595
Epoch 12/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3311 - accuracy: 0.8629 - val_loss: 0.3413 - val_accuracy: 0.8635
Epoch 13/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3246 - accuracy: 0.8652 - val_loss: 0.3356 - val_accuracy: 0.8620

In [105]:
# SAVE THE MODEL
model.save("model.h5")

c:\Users\kulkarniashish1\Desktop\coding\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [106]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [107]:
%tensorboard --logdir logs/fit251119-155658

Reusing TensorBoard on port 6010 (pid 3836), started 23:14:46 ago. (Use '!kill 3836' to kill it.)