In [73]:
import numpy as np
import pandas as pd
import pickle
import tensorflow as tf
from tensorflow.keras.models import load_model

In [74]:
#using all the pkl file and load them into a veriable
with open('label_encoder.pkl','rb') as file:
    label_encoder=pickle.load(file)
with open('one_hot_encoder.pkl','rb') as file:
    geo_encoder=pickle.load(file)
with open('scaler.pkl','rb') as file:
    scaler_transformer=pickle.load(file)

In [75]:
# this is our input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [76]:
input_data=pd.DataFrame([input_data])

In [77]:
geoencoder=geo_encoder.transform(input_data[['Geography']])
geoencoder=pd.DataFrame(geoencoder.toarray(),columns=geo_encoder.get_feature_names_out(['Geography']))
geoencoder

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [78]:
#this is the same thing that we did just replace le with label encoder
input_data['Gender']=label_encoder.transform([input_data['Gender']])

#follow for above steps for geo encoder also
input_data=input_data.drop(['Geography'],axis=1)
input_data=pd.concat([geoencoder,input_data],axis=1)
input_data

c:\Users\kulkarniashish1\Desktop\coding\venv\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

,Geography_France,Geography_Germany,Geography_Spain,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,1.0,0.0,0.0,600,1,40,3,60000,2,1,1,50000

In [79]:
input_data=scaler_transformer.transform(input_data)
input_data

array([[ 1.00150113, -0.57946723, -0.57638802, -0.53598516,  0.91324755,
         0.10479359, -0.69539349, -0.25781119,  0.80843615,  0.64920267,
         0.97481699, -0.87683221]])

In [81]:
#now load the model and use that model to predict
model=load_model('model.h5')
x=model.predict(input_data)
if x > 0.5:
 print("customer is  likely to churn")
else:
 print("customer is  not likely to churn")

1/1 [==============================] - 0s 55ms/step
customer is  not likely to churn